params {
  config_profile_description = 'USDA-APHIS-NCAH nf-core config.'
  config_profile_contact = 'cameron.norris@usda.gov'
  config_profile_url = 'https://sysadminshared.arsiaam0vgit11.usda.net/hpc-docs/'
  max_memory = '1530 GB'
  max_cpus = 48
  max_time = '72 h'
//   igenomes_base = '/data/igenomes'
}

process {
    executor = 'slurm'
    queue = ''
    maxRetries = 2
    scratch = '/project/scratch'
    // clusterOptions = ''
    beforeScript = 'module load singularity && module load nextflow'
}

executor {
    $slurm {
        queue = 'prod-compute'
        queueSize = 200
        pollInterval = '2 min'
        queueStatInterval = '5 min'
        submitRateLimit = '6/1min'
        retry.maxAttempts = 1
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/project/scratch/singularity"
}